.body {
  box-sizing: border-box;
}

a:visited {
  color:gray;
  text-decoration: none;
}

.App {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 48px 48px 1fr;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
}

.container {
  width: 1024px
}


.header,
.content-container,
.footer {
  display: flex;
  justify-content :center;
}


.header {
  padding: 12px;
  background-color: #0097fd;
  background-image: linear-gradient(#0097fd, #006bff);
  border-bottom: 1px solid #0a59d0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-brand {
  font-size: 2em;
  color:rgb(217, 220, 223);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  gap: 16px
}

.login-btn {
  background: none;
  color:rgb(217, 220, 223);
  border: none;
  padding: 4px 8px;
}

.trial-btn {
  background-color: #3b3b3b;
  color:rgb(217, 220, 223);
  border: none;
  padding: 2px 8px;
}



/* Main Container */

.content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #3b3b3b;
  color:rgb(217, 220, 223);
  font-size: 1.75em;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-self:flex-start;
  width: 100vw;
  margin: 24px 0;
  align-items: center;
}

.section-header {
  background-color: #3b3b3b;
}

.card {
  width: 160px; 
}

.card-field {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

/* Card */
.poster {
  display: flex;
  background-color: black;
  width: 160px; 
  height: 240px;
  align-items: center;
  justify-content: center;
}

.poster-img {
  position: absolute;
  width: 160px; 
  align-self: center;
  /* background-image: url('./assets/placeholder.png') */
}

.overlay {
  font-size: 2.5em;
  position: absolute;
  color: white;
  align-self: center;
  z-index: 10;
}


/* Footer */

.footer {
  background-color: #1e1e1e;
  color: gray;
  height: 180px;
  align-self: end;
  align-content: center;
}

.footer-text {
  display: flex;
  flex-direction: column;
  margin: 32px 0 32px; 
  gap: 1px;
  font-size: .8em;
}

.footer-link {
  /* padding: 0px 8px; */
}

.link-list {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
}

.socials {
  display: flex;
  gap: 16px;
}

.social {
  width: 36px;
  height: 36px;
}

.external-links {
  display: flex;
  justify-content: space-between;
}

.app-stores {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  gap: 16px;
}

.store {
}