.body {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  height: 100vh;
}

.header {
  display: flex;
  padding: 12px;
  background-color: #0097fd;
  background-image: linear-gradient(#0097fd, #006bff);
  border-bottom: 1px solid #0a59d0;
  justify-content: space-between;
}

/*  */

.card-field {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

/* Card */
.poster {
  display: flex;
  background-color: black;
  width: 160px; 
  height: 240px;
  align-items: center;
  justify-content: center;
}

.poster-img {
  position: absolute;
  width: 160px; 
  align-self: center;
  background-image: url('./assets/placeholder.png')
}

.overlay {
  font-size: 2.5em;
  position: absolute;
  color: white;
  align-self: center;
  z-index: 10;
}

